{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <section class="edit-word-section">
        {{form_start(form)}}
        <div class="header-word">lock</div>
        {{ form_row(form.partOfSpeech ) }}
        <ol class="edit-word-ol">
        <li class="meaning-li">
            <div class="meaning-name">zamykać</div>
            <div class="sentence-section">
                <div class="example-sentence">Did you lock the door?</div>
                <div class="example-translation">Czy zamknąłeś drzwi?</div>
            </div>
            <div class="sentence-section">
                <div class="example-sentence">Shall I lock up after you?</div>
                <div class="example-translation">Czy mam za tobą zamknąć?</div>
            </div>
        </li>
        <li class="meaning-li">
            <div class="meaning-name">zamykać się</div>
            <div class="sentence-section">
                <div class="example-sentence">He locked himself in a hotel room and wouldn&#039;t let anybody in.</div>
                <div class="example-translation">On zamknął się w pokoju hotelowym i nikogo nie wpuszczał</div>
            </div>
        </li>
        <li class="meaning-li">
            <div class="meaning-name">chować (w bezpiecznym miejscu)</div>
            <div class="sentence-section">
                <div class="example-sentence">He locked the dog in his room.</div>
                <div class="example-translation">On zamknął psa w swoim pokoju.</div>
            </div>
            <div class="sentence-section">
                <div class="example-sentence">I locked my diary in a drawer.</div>
                <div class="example-translation">Schowałam swój pamiętnik w szufladzie.</div>
            </div>
            <div class="sentence-section">
                <div class="example-sentence">I have to lock my jewellery in my boxes.</div>
                <div class="example-translation">Muszę schować swoją biżuterię w pudełku.</div>
            </div>
        </li>
    </ol>
        <div class="edit-phrase-div1 hidden">
            <div class="edit-phrase-div2">
                <div class="edit-phrase-desc"></div>
                <input type="text" id="phrase-text-in">
                <div class="edit-phrase-btn-div">
                    <button type="button" id="edit-phrase-apply" class="btn btn-hotpink">Zatwierdź</button>
                    <button type="button" id="edit-phrase-cancel" class="btn btn-lightpink">Anuluj</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="edit-word-footer">
        {{ form_row(form.save ) }}
        <button type="button" class="add-meaning-btn btn btn-orchid">Dodaj tłumaczenie</button>
    </footer>
    {{form_end(form)}}

{# templates for editword.js#}
    <span class="add-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Dodaj zdanie"></span>
    <span class="del-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń zdanie"></span>
    <span class="del-meaning-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń tłumaczenie"></span>
    <span class="move-up-btn fas fa-angle-up hidden"></span>
    <span class="move-down-btn fas fa-angle-down hidden"></span>
{% endblock %}



{% block javascripts %}
    <script>
        document.querySelector("html").addEventListener('click',()=>{
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger : 'hover'
                });
            });
        });
        $(window).ready(function() {
            $("form").on("keypress", function (event) {
                var keyPressed = event.keyCode || event.which;
                if (keyPressed === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
    {{ encore_entry_script_tags('editword') }}
{% endblock %}
