{% extends 'base.html.twig' %}

{% block title %}Edytuj {{ word.name }}{% endblock %}

{% block body %}
    <section class="edit-word-section">
        {{form_start(form)}}
        <div class="header-word">{{ word.name }}</div>
{% for speechSection in speechSections %}
    {% if speechSection is not empty %}
        <div class="speech-section">
            <div class="part-of-speech">{{ speechSection[0].partOfSpeech }}</div>
            <ol class="edit-word-ol">
                {% for meaning in speechSection %}
                    <li class="meaning-li">
                        <div class="meaning-name">{{ meaning.name }}</div>
                        {% for example in meaning.examples %}
                            <div class="sentence-section">
                                <div class="example-sentence">{{ example.sentence }}</div>
                                <div class="example-translation">{{ example.translation }}</div>
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
{% endfor %}

    </section>
    <footer class="edit-word-footer">
        <div class="edit-phrase-div1 hidden">
            <div class="edit-phrase-div2">
                <div class="edit-phrase-desc"></div>
                <input type="text" id="phrase-text-in">
                <div class="edit-phrase-btn-div">
                    <button type="button" id="edit-phrase-apply" class="btn btn-hotpink">Zatwierdź</button>
                    <button type="button" id="edit-phrase-cancel" class="btn btn-lightpink">Anuluj</button>
                </div>
            </div>
        </div>
        <div class="edit-word-btn-div">
            {{ form_row(form.save ) }}
            <button type="button" class="add-speech-section-btn btn btn-darkviolet">Dodaj część mowy</button>
        </div>
    </footer>
    {{form_end(form)}}

{# templates for editword.js#}
    <span class="add-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Dodaj zdanie"></span>
    <span class="del-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń zdanie"></span>
    <span class="del-meaning-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń tłumaczenie"></span>
    <span class="del-speech-section-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń część mowy"></span>
    <span class="move-up-btn fas fa-angle-up hidden"></span>
    <span class="move-down-btn fas fa-angle-down hidden"></span>
    <button type="button" class="add-meaning-btn btn btn-orchid hidden">Dodaj tłumaczenie</button>
{% endblock %}



{% block javascripts %}
    <script>
        document.querySelector("html").addEventListener('click',()=>{
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger : 'hover'
                });
            });
        });
    </script>
    {{ encore_entry_script_tags('editword') }}
{% endblock %}
