{% extends 'admin/word.html.twig' %}

{% block title %}Edytuj {{ word.name }}{% endblock %}

{% block edit_word_section %}
    <section class="edit-word-section">
        <div class="header-word">{{ word.name }}</div>
        {% for speechSection in speechSections %}
            {% if speechSection is not empty %}
                <div class="speech-section">
                    <div class="part-of-speech-div">
                        <div class="part-of-speech-input-div">
                            <input class="part-of-speech" value="{{ speechSection[0].partOfSpeech }}" placeholder="Wprowadź część mowy">
                            <div class="pos-suggestion-div hidden">
                                <ul class="pos-suggestion-ul suggestions-ul">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ol class="foreign-word-ol">
                        {% for meaning in speechSection %}
                            <li class="foreign-meaning-li" id="{{ meaning.id }}">
                                <div class="foreign-meaning-name">
{% for meaningName in meaning.meaningNames %}{{ meaningName.name }}{% if loop.index < meaning.meaningNames|length %}, {% endif %}{% endfor %}</div>
                                <table class="sentence-table">
                                {% for example in meaning.examples %}
                                    <tr class="sentence-tr">
                                        <td class="example-sentence">{{ example.sentence }}</td>
                                        <td class="example-translation">{{ example.translation }}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
