{% extends 'base.html.twig' %}

{% block title %}Lista słów{% endblock %}
{% block body %}
    <div class="admin-word-list-container-1">
        <div class="search-input-div">
            <input type="text" name="q" placeholder="Znajdź wyrażenie" autocomplete="off">
            <a href="{{ path('addword') }}" class="btn btn-darkviolet add-word-btn">Dodaj wyrażenie</a>
        </div>
        <div class="admin-word-list-container-2">
        <table class="admin-word-table">
            <tr class="header-word-table">
                <th>Wyrażenie</th>
                <th>Akcje</th>
            </tr>

            {% for word in words%}
                <tr class="admin-word-tr">
                    <td class="word-name-td">{{ word.name }}</td>
                    <td class="word-action-td">
                        <a href="{{ path('preview_word',{name: word.name}) }}" class="btn btn-hotpink">Podgląd</a>
                        <a href="{{ path('edit_word',{name: word.name}) }}" class="btn btn-orchid">Edytuj</a>
                        <a href="{{ path('delete_word',{name: word.name}) }}" class="btn btn-danger" onclick="return confirm('Czy na pewno usunąć {{ word.name }}')">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin_word_list') }}
{% endblock %}
