{% extends 'base.html.twig' %}

{% block body %}
    <div class="edit-main-div">
    {{form(form)}}
        {% block edit_word_section %}
        {% endblock %}

        {% include 'admin/editinput.html' %}
    </div>
    <footer class="edit-word-footer">
        <div class="edit-word-btn-div">
            <button type="button" class="save-meaning-btn btn btn-mediumpurple">Zapisz</button>
            <button type="button" class="add-speech-section-btn btn btn-darkviolet">Dodaj część mowy</button>
            <button type="button" class="undo-btn btn btn-mediumpurple">Cofnij</button>
        </div>
        <div class="root-word-edit-div">
                <div class="root-word-suggestion-div hidden">
                    <ul class="root-word-suggestion-ul">
                    </ul>
                </div>
            <input class="root-word-input" type="text" placeholder="Podstawa słowotwórcza" value="{{ word.rootWord.name ?? ''}}">
        </div>
    </footer>

{# templates for editword.js#}
    <span class="add-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Dodaj zdanie"></span>
    <span class="del-sentence-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń zdanie"></span>
    <span class="del-meaning-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń tłumaczenie"></span>
    <span class="del-speech-section-btn hidden" data-toggle="tooltip" data-placement="top" title="Usuń część mowy"></span>
    <span class="move-up-btn fas fa-angle-up hidden"></span>
    <span class="move-down-btn fas fa-angle-down hidden"></span>
    <button type="button" class="add-meaning-btn btn btn-orchid hidden">Dodaj tłumaczenie</button>
{% endblock %}



{% block javascripts %}
    <script>
        document.querySelector("html").addEventListener('click',()=>{
            $(function () {
                $('[data-toggle="tooltip"]').tooltip({
                    trigger : 'hover'
                });
            });
        });

        let partsOfSpeechCsv = '{{ partsOfSpeechCsv }}';
        let partsOfSpeechArr = partsOfSpeechCsv.split(',');
        let isError = {
            posError: false,
            wordError: false
        };
    </script>
    {{ encore_entry_script_tags('part_of_speech') }}
    {{ encore_entry_script_tags('editword') }}
{% endblock %}
