{% extends 'base.html.twig' %}

{% block title %}Lista podstaw słowotwórczych{% endblock %}
{% block body %}
    <div class="admin-word">
        <div class="search-input">
            <input type="text" name="q" placeholder="Znajdź podstawę słowotwórczą" autocomplete="off">
            <a href="{{ path('admin_root_word_add') }}" class="btn btn-darkviolet add-word-btn">Dodaj podstawę</a>
        </div>
        <div class="word-list">
        <table class="word-table">
            <tr>
                <th>Podstawa słowotwórcza</th>
                <th>Akcje</th>
            </tr>

            {% for rootWord in rootWords%}
                <tr class="word-tr">
                    <td class="word-name">{{ rootWord.name }}</td>
                    <td class="word-action">
                        <a href="{{ path('admin_root_word_edit',{name: rootWord.name}) }}" class="btn btn-orchid">Edytuj</a>
                        <a href="{{ path('admin_root_word_delete',{name: rootWord.name}) }}" class="btn btn-danger" onclick="return confirm('Czy na pewno usunąć {{ rootWord.name }}?')">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin_root_word') }}
{% endblock %}
