{% extends 'base.html.twig' %}

{% block title %}{{ app.session.get('q') }} - {{ 'title.subtitle'|trans }}{% endblock %}

{% block body %}
    <div class="search-bar">
        {% include 'dictionary/search_input.html.twig' %}
    </div>
    {% if foreign is not empty %}
        <section class="words-section">
            <div class="result-header-description">"{{ app.session.get('q') }}" {{ 'results.in.polish'|trans }}</div>
            {% if rootWord %}
                <div class="root-word-div">
                    <div class="root-word-name">{{ rootWord }}</div>
                    <div class="root-word-description">{{'results.rootword'|trans}}</div>
                </div>
            {% endif %}
            {% for  word in foreign %}
                <div class="header-word">{{ word[0][0].word.name }}</div>
                {% for speechSection in word %}
                    <div class="speech-section">
                        <div class="part-of-speech">{{ ('pos.'~speechSection[0].partOfSpeech)|trans}}</div>
                        <ol class="foreign-word-ol">
                            {% for meaning in speechSection %}
                                <li class="foreign-meaning-li">
                                    <div class="foreign-meaning-name">
                                        {% for meaningName in meaning.meaningNames %}
                                            <a href="{{ path('dictionary') }}" class="meaning-anchor">{{ meaningName.name }}</a>{% if loop.index < meaning.meaningNames|length %}<span>, </span>{% endif %}
                                        {% endfor %}
                                    </div>
                                    <table class="sentence-table">
                                        {% for example in meaning.examples %}
                                            <tr class="sentence-tr">
                                                <td class="example-sentence">{{ example.sentence }}</td>
                                                <td class="example-translation">{{ example.translation }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>
    {% endif %}
    {% if native is not empty %}
        <div class="result-header-description">"{{ app.session.get('q') }}" {{ 'results.in.indo'|trans }}</div>
        <div class="header-word">{{ app.session.get('q') }}</div>
        {% for  speechSection in native %}
            <div class="part-of-speech">{{ ('pos.'~speechSection.partOfSpeech)|trans}}</div>
                {% for word in speechSection.words %}
                    <li class="foreign-word"><a href="{{ path('dictionary') }}?q={{ word.name }}">{{ word.name }}</a>
                    </li>
                    <ul class="native-meaning-ul">
                        {% for meaning in word.meanings %}
                            <li class="native-meaning-li">
                                <div class="native-meaning-name">
                                    {% for meaningName in meaning.meaningNames %}
                                        {% if meaningName.name ==  app.session.get('q') %}<span>{{ meaningName.name }}</span>{% else %}<a href="{{ path('dictionary') }}"class="meaning-anchor">{{ meaningName.name }}</a>{% endif %}{% if loop.index < meaning.meaningNames|length %}<span>,</span>{% endif %}
                                    {% endfor %}
                                </div>
                                <table class="sentence-table">
                                    {% for example in meaning.examples %}
                                        <tr class="sentence-tr">
                                            <td class="example-sentence">{{ example.sentence }}</td>
                                            <td class="example-translation">{{ example.translation }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ol>
        {% endfor %}
    {% endif %}
    {% if foreign is empty and native is empty %}
        {% if suggestions is not empty %}
            <div class="empty-result-suggestion-div">
                {{ 'results.didYouMean'|trans }}:
                {% for suggestion in suggestions %}
                    <a href="{{ path('dictionary') }}?q={{ suggestion }}">{{ suggestion }}</a>{% if loop.index < suggestions|length %}<span>,</span>{% endif %}
                {% endfor %}
            </div>

        {% endif %}
        {{ 'results.empty'|trans }}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('meaning_link') }}
{% endblock %}