<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('main') }}"><i class="fa-solid fa-house"></i></a>
        <a class="nav-item" href="{{ path('list_words') }}">{{ 'wordList'|trans }}</a>
        <div class="nav-language-container">
            {% if app.request.locale == 'pl' %}
                <span class="nav-link nav-language-selected"> POL </span>
                |
                <a class="nav-link"
                   href="{{ path('main',{'_locale': 'id'}) }}">
                    IND</a>
            {% elseif app.request.locale == 'id' %}
                <a class="nav-link"
                   href="{{ path('main',{'_locale': 'pl'}) }}">
                    POL</a>
                |
                <span class="nav-link nav-language-selected"> IND </span>

            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item active nav-item-right"
                            {% if app.user.username == 'akna.adogal' %}
                                data-toggle="tooltip" data-placement="bottom" title="Jesteś najlepszą dziewczyną na świecie"
                            {% endif %}
                    >
                        {{ 'header.hello'|trans }}, {{ app.user.username }}
                    </li>

                    <li class="nav-item active nav-item-right">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'header.logout'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
